html,
body,
#root {
  height: 100%;
  width: 100%;
}

$body-bg: black;
$body-color: white;
$primary: #ffb800;

$theme-colors: (
  "primary": $primary,
  "dark": $body-bg,
);

@import "~bootstrap/scss/bootstrap";
